/****** General donné de base ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** General en plus ***********/

body {
    margin: 0;
}

/************************************ header ************************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin-bottom: 30px;
}

.logo {
    height: 20px;
    margin-top: 5px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu-item {
    position: relative;
    text-decoration: none;
    color: black;
    padding-top: 0px;
}


.menu-item::before {    /* barre bleue cachée par défaut */
    content: "";
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0065fc;
    opacity: 0;
}

.menu-item:hover {
    color: #0065fc;
}

.menu-item:hover::before {
    opacity: 1;
}

/***************************************Partie Infos**********************************/


h1 {
    font-size: 22px;
    font-weight: 700;
}

.intro {
    font-size: 16px;
    font-weight: 400;
}

.info-group {
    gap: 35px;
    display: block;

}

    /**********Partie barre recherche************/
.search-bar {
    margin-top: 15px;
    display: inline-flex;
    align-items: stretch; /*pour bien s'étirer sur la hauteur*/
    background-color: #f2f2f2; /* zone de l'icône */
    border-radius: 15px;       
    overflow: hidden;          /* Pour que le bouton ne dépasse pas des arrondis */
    border: 1px solid #f2f2f2;
}

.icon-container {
    padding: 15px 18px;
    color: #000;
}

.search-input {
    border: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: white; /* Fond blanc pour la saisie */
    text-align: center;
}

.search-input::placeholder {  /* :: -> pour Pseudo-éléments*/
    color: #000000;
    opacity: 1; /* pour firefox qui baisse l'opacité par défaut */
}
.search-button {
    border: none;
    background-color: #0065FC;
    padding: 0px 5px;
}

.text-button {
     
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.search-button i {
    display: none;
}


    /******************partie filtres*****************/
.filters-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Raleway;
    margin-top: 35px;
}

.filter-title {
    font-weight: 700;
    font-size: 18px;
    color: black;
    margin-right: 10px;
}

.filter-buttons {
    display: flex;
    gap: 10px; 
    height: 45px;
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 10px;      /* espace entre l'icône et le texte */
    padding: 4px 19px 4px 19px;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 25px; 
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}

.filter-button:hover {
    background: #DEEBFF; 
    border-color: #d9d9d9;
    cursor: pointer;
}

.filter-button i {
    color: #0065FC; 
    font-size: 20px;
}


    /**Bulle d'info**/
.info-bubble {
    display: inline-flex; /*la largeur s'adapte au contenu */
    align-items: center; /* alignement vertical */
    font-size: 16px;
    max-width: fit-content; /* largeur ajustée au contenu */
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.info-icon {
    color: #0065FC; 
    border-radius: 50%; /* forme ronde */
    border: 1px solid #d9d9d9;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px; /* taille de l'icône */ 
}

.info-text {
    color: #000000; 
}

/****** Hebergements And Populaires donné de base  ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/***************************************** Hebergements ****************************************/
.hebergements {
    width: 65%;
}

.hebergement-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.houses-cards {
    display: flex;
    margin-top: 33px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding-bottom: 15px;
}

.houses-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 124px;
    width: 220px;
    object-fit: cover;
}

.houses-cards .card-content {
    width: 96%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.houses-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;

}

.houses-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.houses-cards .card-rating {
    margin-bottom: 5px;
}

.more {
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 21px;
    cursor: pointer; 
}



/***************************************** Populaires *************************************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**********************************activités à marseilles**********************/

.activites {
    padding: 30px;
    margin-bottom: 40px;
}

.activites-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    background-color: white;
}

.activites-title {
    font-size: 22px;
    font-weight: 700;
    margin-top: 60px; 
    margin-bottom: 30px;
}

.activites-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 85%;
    width: 100%;
}

.activites-card .card {
    border-radius: 20px;
    height: 436px;
    width: 100%;
    padding: 0px;
}

.activites-card .card-title {
    padding: 5px 19px 20px 19px;
}

/********************************footer*******************************/

.footer {
    display: flex;           
    background-color: #f2f2f2;         
    gap: 240px;       /* espace entre les colonnes */
    padding: 5px 20px 20px 20px;

}

.footer-column h3 {
    font-weight: bold;
    margin-bottom: 20px; 
    font-size: 18px;
}

.footer-column p {
    margin-bottom: 10px;         
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/****************** Medium devices (tablets, less/equal than 1024px) **************************/
@media (max-width: 1024px) {
    body {
    padding-left: 50px;
    padding-right: 50px;
    gap: 35px;
}

    .main-container {
        padding: 0px;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .houses-cards img {
        width: 250px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        padding-top: 0px;
    }

    .activites-card .card {
        height: 270px;
    }

    .activites-card img {
        height: 200px;
    }

    .footer {
        gap: 140px;
    }

}

/***************** Small devices (phones, less than 768px) ***************************/
@media (max-width: 767.98px) {
    

    .main-container {
        padding: 0px;
    }

    body {
        padding: 0px;
    }

    header {
        flex-direction: column;
        padding: 0px;
        margin-bottom: 0;
    }

    .logo {
        margin-left: 0px;
        margin-top: 30px;
    }

    .menu {
        width: 100%;           
        margin-right: 0;        
        gap: 0;
        border-bottom: 2px solid #f2f2f2;
        padding: 15px 0px 7px 0px;
        justify-content: space-around;
    }

    .menu-item {            
        text-align: center;
        padding: 15px 0;
        width: 50%;
    }

    .menu-item::before {
        top: unset;
        bottom: -10px;
    }


/*partie infos*/
    .info-bubble {
        margin-top: 90px;
    }

   .info-group {
        margin: 0px 20px;
    }

    .info-icon {
        height: 20px;
        width: 28px;
    }

/*partie filtres*/
    .filter-button {
        font-size: 14px;
        height: 50px;
        width: 48%;
        gap: 15px;
    }

    .filters-container {
        flex-wrap: wrap;
    }

    .filter-buttons {
        flex-wrap: wrap;
    }

    /* partie recherche*/
    .search-bar {
        overflow: visible;
        align-items: baseline;
        
    }

    .text-button {
        display: none;
    }

    .search-button {
        background-color: #0065FC; 
        color: white;
        border: none;
        padding: 15px 16px;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 15px; 
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    
    .search-button i {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .search-input {
        width: 100%;
    }

/*partie hébergements*/
    .houses-cards img {
        width: 305px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
        order: 2;
    }

/*partie populaires*/
    .hebergements-and-populaires section {
        border-radius: 0px
    }
    .populaires {
        background-color: #F2F2F2;
        order: 1;
        margin: 0px;
    }

    .populaires-cards{
        display : unset;
    }

/*partie activités*/
    .activites-card {
        display: block;
    }

    .activites-card .card {
        margin-bottom: 15px;
    }

    .footer {
        flex-direction: column; 
        gap: 30px;
    }
}