/****** General donné de base ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** General en plus ***********/

body {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    gap: 35px;
}

/********************************** nav et header*********************************/
.LogoBooki {
    width: 61.09px;
    height: 19px;
    padding: 30px 50px 30px 50px;
    gap: 10px;
    margin: 0;
}

.menu {
    padding: 0px 50px 0px 50px;
    gap: 68px;
    left: 1096px;
}

nav li:hover {
    border-top: 2px solid #0065FC;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

/***************************************Partie Infos**********************************/

nav {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    height: 79px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    font: raleway;
}

.intro {
    font-size: 16px;
    font-weight: 400;
}

.info-bubble {
    display: inline-flex; /*la largeur s'adapte au contenu */
    align-items: center; /* alignement vertical */
    font-size: 16px;
    max-width: fit-content; /* largeur ajustée au contenu */
    gap: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.info-icon {
    color: #0065FC; 
    border-radius: 50%; /* Forme ronde */
    border: 1px solid #d9d9d9;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px; /* Taille de l'icône */ 
}

.info-text {
    color: #000000; 
}

.search-bar {
    display: flex; /* alignement horizontal */
    align-items: center;
    background: #FFFFFF; 
    border-color: #F2F2F2;
    border: 1px;
    border-radius: 15px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* on ne voit plus le border sans ????? */
    width: 377px;
    height: 49px;
    gap: 12px;
    margin-top: 35px;
}

.location-input {
    display: flex;
    align-items: center;
    border: 1px #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 195px;   /* 377-50-132=195*/ 
    height: 49px;
    background: transparent;
}

.location-icon {
    color: black; 
    font-size: 14px;
    margin-left: 18px;
    margin-top: 15px;
    width: 14px;
    height: 18px;
}

.location-text-input {
    text-align: center;
    align-content: center;
    border: none; /* Pas la bordure par défaut */
    font-family: Raleway;
    font-size: 18px;
    color: black;
    line-height: 100%;
    
}

.search-button {
    background: #0065FC; 
    color: white; 
    border: 1px #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 16px 15px 16px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    width: 132px;
    height: 49px;
    gap: 10px;
    margin: 50px; /*donner à vue pour que ça ressemble*/
}

.filters-container {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Raleway;
    margin-top: 35px;
}

.filter-title {
    font-weight: 700;
    font-size: 18px;
    color: black;
    margin-right: 10px;
}

.filter-buttons {
    display: flex;
    gap: 10px; 
    height: 50px;
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 10px;      /* espace entre l'icône et le texte */
    padding: 4px 19px 4px 19px;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 25px; 
    color: #000000;
    font-size: 14px;
}

.filter-button:hover {
    background: #DEEBFF; 
    border-color: #d9d9d9;
}

.filter-button i {
    color: #0065FC; 
}

.info-group {
    gap: 35px;
    display: block;

}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergement-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.houses-cards {
    display: flex;
    margin-top: 33px;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 4px;
    padding-bottom: 15px;
}

.houses-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 124px;
    width: 250px;
    object-fit: cover;
}

.houses-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.houses-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;

}

.houses-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.houses-cards .card-rating {
    margin-bottom: 5px;
}

.more {
    font-size: 18px;
    font-weight: 700;
    width: 811px;
    height: 21px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**********************************activités à marseilles**********************/

.activites {
    padding: 30px;
    gap: 30px;
}

.activites-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.activites-title {
    font-size: 22px;
    font-weight: 700;
    margin-top: 60px;   /* ça à l'air d'être 2 fois 30px*/
    margin-bottom: 30px;
}

.activites-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
    width: 297.5px;
}

.activites-card .card {
    border-radius: 20px;
    height: 380px;
    width: 297.5px;
}

.activites-card .card-title {
    padding: 20px 19px 20px 19px;
}

/********************************footer*******************************/

.footer-container {
    background-color: #F2F2F2;
    gap: 15px;
    padding: 20px;
    margin-top: 90px;
    
    display: flex;
    justify-content: space-between

    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;*/
}

.footer-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-content {
    font-size: 16px;
    font-weight: 400;
    display: flex; 
    flex-wrap: wrap; /*retour à la ligne */
    margin: 0;
}

.footer-column {
    flex: 1; /* Chaque colonne prend un tiers de l'espace */
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}