/****** General donné de base ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** General en plus ***********/

body {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    gap: 35px;
}

/********************************** nav et header*********************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.logo {
height: 20px;
margin-left: -37px;
margin-top: 5px;
}

.menu {
  display: flex;
  gap: 30px;
  margin-right: -40px;
}

.menu-item {
  position: relative;
  text-decoration: none;
  color: black;
  padding-top: 0px;
}

/* barre bleue cachée par défaut */
.menu-item::before {
  content: "";
  position: absolute;
  top: -23px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0065fc;
  opacity: 0;

}

/* effet hover */
.menu-item:hover {
  color: #0065fc;
}

.menu-item:hover::before {
  opacity: 1;
}

/***************************************Partie Infos**********************************/


h1 {
    font-size: 22px;
    font-weight: 700;
    font: raleway;
}

.intro {
    font-size: 16px;
    font-weight: 400;
}

.info-group {
    gap: 35px;
    display: block;

}

    /**********Partie barre recherche************/
.search-bar {
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
    background-color: #f2f2f2; /* zone de l'icône */
    border-radius: 15px;       
    overflow: hidden;          /* Pour que le bouton ne dépasse pas des arrondis */
    border: 1px solid #f2f2f2;
}

.icon-container {
    padding: 15px 18px;
    background-color: #f2f2f2;
    color: #000;
}

.search-input {
    border: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: white; /* Fond blanc pour la saisie */
    width: 160px;
    text-align: center;
}

.search-input::placeholder {  /* :: -> pour Pseudo-éléments*/
    color: #000000;
    opacity: 1; /* Nécessaire pour Firefox qui baisse l'opacité par défaut */
}

.search-button {
    background-color: #0065FC; 
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 15px 15px 0; 
}



    /******************partie filtres*****************/
.filters-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Raleway;
    margin-top: 35px;
}

.filter-title {
    font-weight: 700;
    font-size: 18px;
    color: black;
    margin-right: 10px;
}

.filter-buttons {
    display: flex;
    gap: 10px; 
    height: 45px;
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 10px;      /* espace entre l'icône et le texte */
    padding: 4px 19px 4px 19px;
    background: white;
    border: 2px solid #d9d9d9;
    border-radius: 25px; 
    color: #000000;
    font-size: 17px;
    font-weight: 700;
}

.filter-button:hover {
    background: #DEEBFF; 
    border-color: #d9d9d9;
}

.filter-button i {
    color: #0065FC; 
    font-size: 20px;
}


    /**Bulle d'info**/
.info-bubble {
    display: inline-flex; /*la largeur s'adapte au contenu */
    align-items: center; /* alignement vertical */
    font-size: 16px;
    max-width: fit-content; /* largeur ajustée au contenu */
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.info-icon {
    color: #0065FC; 
    border-radius: 50%; /* Forme ronde */
    border: 1px solid #d9d9d9;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px; /* Taille de l'icône */ 
}

.info-text {
    color: #000000; 
}

/****** Hebergements And Populaires donné de base  ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/***************************************** Hebergements ****************************************/
.hebergements {
    width: 65%;
}

.hebergement-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.houses-cards {
    display: flex;
    margin-top: 33px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding-bottom: 15px;
}

.houses-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 124px;
    width: 220px;
    object-fit: cover;
}

.houses-cards .card-content {
    width: 96%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.houses-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 700;

}

.houses-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.houses-cards .card-rating {
    margin-bottom: 5px;
}

.more {
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    height: 21px;
    cursor: pointer; /*pour cliquer*/
}



/***************************************** Populaires *************************************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**********************************activités à marseilles**********************/

.activites {
    padding: 30px;
    margin-bottom: 40px;
}

.activites-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 15px;
    background-color: white;
}

.activites-title {
    font-size: 22px;
    font-weight: 700;
    margin-top: 60px;   /* ça à l'air d'être 2 fois 30px*/
    margin-bottom: 30px;
}

.activites-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
    width: 100%;
}

.activites-card .card {
    border-radius: 20px;
    height: 436px;
    width: 96%;
    padding: 0px;
}

.activites-card .card-title {
    padding: 0px 19px 20px 19px;
}

/********************************footer*******************************/

.footer {
    display: flex;           
    background-color: #f2f2f2;         
    gap: 240px;       /* espace entre les colonnes */
    padding: 5px 20px 20px 20px;

}

.footer-column h3 {
    font-weight: bold;
    margin-bottom: 20px; 
    font-size: 18px;
}

.footer-column p {
    margin-bottom: 10px;         
}



/* Adaptabilité mobile (responsive) */
@media (max-width: 768px) {
  .footer {
    flex-direction: column; 
    gap: 30px;
  }
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}